OPENAI_API_KEY=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
GOOGLE_CLIENT_EMAIL=evo-calendar-agent@master-scanner-492117-a8.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_ID=204df630564826e4d40b5b9e9a6853a766932d3867def320e411ebd3a13d4626@group.calendar.google.com
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
PORT=3001
CORS_ORIGIN=http://localhost:3000
USE_MOCKS=false

